
*{
    font-size: 16px;
}
/* Login screen container */
.container{
    display:flex;
    flex-direction: row;
    gap: 0;
    border: 0;
    background: #e1e0eacc;
    width: 100vw;   
    height: 100vh;
}

/* welcome text */
.bold-text{
    font-size: 25px;
    font-weight: 500;
    margin: 16px 0 0 0;
    line-break: normal;
}
.fade-text{
    font-size: 16.8px;
    font-family: 200;
    color: #777777;
    margin: 4px 0 16px 0;
}
.log-form{
    width: 50%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 0;
    border-top-right-radius: 6%;
    border-bottom-right-radius: 6%;   
    background-color: rgb(243, 247, 251);
}

/* Sliding Button */
.btn-container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 24vw;
    height: 45px;
    border-radius: 8px;
    margin: 10px;
    margin-bottom: 4vh;
    background-color: #e1e0eacc;
    z-index: 0;
}
button:hover{
    background-color:  rgba(243, 247, 252, 0.926);
    color: #090909;
}
.active-btn,.passive-btn{
    width: 98%;
    height: 90%;
    margin:2px;
    border: 0;
    border-radius: 8px;
    font-size: 16px;
    background-color: rgb(243, 247, 252);
}
.active-btn{
    background-color: transparent;  
    color: #69636c;
}
.log-method{
    display: flex;
    flex-direction: column;
    width:24vw;
    gap: 4px;
}
.log-method button{
    padding: 2px;
    border: 1.2px solid black;
    border-radius: 12px;
    background-color: rgba(250, 251, 253, 0.92);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* Icons in log in method */
.google-icon,.twitter-icon, .apple-icon{
    height: 28px;
    display: flex;
    align-items: center;
    margin: 0;
}
.log-method button:hover{
    border: 0.2PX solid rgb(11, 7, 88);
  background-color: #f2f2f7fc;
}

/* 
    -----or----    
*/
.or-section{
    display: flex;
    justify-content: center;
    gap: 1vw;
    position: relative;
    top: 2vh;
}

.hr-line{
    position: relative;
    width: 16vw;
    height: 5px;
    top:12px;
    margin-bottom: 5vh;
    border: 0;;
    border-top:1px solid rgba(171, 167, 167, 0.664);
}

/* 
    login form: Email and password fields
*/
.log-detail{
    position: relative;
    top:3vh;
    height: 24vh;
    display: block;
}

.log-detail label, label{
    display: block;
    text-align: left;
    font-weight: 600;
    margin-bottom: 8px;
    margin-left: 2px;
}

.log-detail input{
    width: 24vw;
    border: 1px solid rgb(180, 181, 187);
    border-radius: 12px;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
    text-indent: 12px;
}
input:focus{
    border: 1px solid rgb(180, 181, 187);
}

input::placeholder{
    color:#aeaebff9;
    font-size: 14px;
}
.email-inp,
.password-inp {
  /* Your regular input styles here */
  border: 1px solid #ccc;
  padding: 8px;
  transition: border-color 0.3s;
}

.name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  
  .text-group {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 20px;
  }
  
  .text-group label {
    margin-bottom: 5px;
  }
  
  .text-group input {
    width: 12vw;
    border: 1px solid rgb(180, 181, 187);
    border-radius: 12px;
    padding: 10px;
    text-indent: 12px;
  }
  






/* 
    Extra options for log in {Forgot Password}
*/

.checkbox-container {
    display: flex;
    position: relative;
    flex-direction: row;
    top:48px;
    width: 24vw;  
    justify-content: space-between;
}
  
  .check-btn {
    margin-right: 5px;
    padding: 0;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #1f1b1b;
  }

  .check-btn:checked{
    background-color: rgba(59, 140, 238, 0.908);
    border: 3px solid rgba(209, 207, 211, 0.75);
    box-shadow: 0px 0px 8px 0px rgba(178, 181, 196, 0.916);
}

.left {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .right {
    display: flex;
    justify-content: flex-end;
  }
  
  /* input[type="submit"]{
    background-color: #090909;
    color: aliceblue;
    width: 12vw;
    padding: 10px 0 10px 0;
    border: 0;
    margin-left: 25vh;
    border-radius: 8px;
    margin-top: 4vh;
  } */
  .Sign-in-btn{
    background-color: #090909;
    color: aliceblue;
    width: 24vw;
    padding: 10px 0 10px 0;
    border: 0;
    margin-left: 0vh;
    border-radius: 8px;
    margin-top: 4vh;
  }

  a{
    text-decoration: none;
    color: #090909;
    font-weight: 600;
  }

  .error-border {
    border-color: red;
  }
  .error {
    color: red;
    margin-top: 5px;
    border: 1px solid black;
    background-color: #f8f8f8;
    padding: 5px;
    border-radius: 4px;
    animation: fadeIn 0.3s ease-in-out;
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  