body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-inter: Inter;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-gray-200: #0d0d0d;
  --color-gray-100: #060606;
  --color-gainsboro-100: #e3e1e3;
  --color-black: #000;

  /* Gaps */
  --gap-5xs: 8px;

  /* Paddings */
  --padding-smi: 13px;

  /* border radiuses */
  --br-2xs: 11px;
  --br-41xl: 60px;
}

.personal-information-light-child {
  position: absolute;
  top: 0;
  left: 646px;
  background-color: #dbdbdb;
  width: 793px;
  height: 1024px;
  /* height: 100%; */
}
.personal-information-light-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0 var(--br-41xl) var(--br-41xl) 0;
  background-color: var(--color-white);
  width: 713px;
  height: 1024px;
  /* height: 100%; */
}
.looping-video-of {
  margin: 0;
}
.looping-video-of-container {
  position: absolute;
  top: 240px;
  left: 836px;
  font-size: 36px;
  font-family: var(--font-inter);
}
.personal-information {
  position: absolute;
  top: 115px;
  left: 188px;
  font-size: 32px;
  font-weight: 500;
}
.help-us-personalize-container {
  position: absolute;
  top: 165px;
  left: 103px;
  font-weight: 500;
  color: #868686;
}
.logo-radiant-amethyst-no-bg {
  position: absolute;
  top: 40px;
  left: 339px;
  width: 32px;
  height: 52px;
  object-fit: cover;
}
.step-3-of {
  position: absolute;
  top: 4px;
  left: 38px;
  font-weight: 500;
}
.age {
  position: relative;
  font-weight: 500;
}
.frame-child {
  border: 2px solid var(--color-gainsboro-100);
  font-weight: 500;
  font-family: var(--font-poppins);
  font-size: var(--font-size-xs);
  background-color: var(--color-white);
  border-radius: var(--br-2xs);
  box-sizing: border-box;
  height: 36px;
  padding: 0 var(--padding-smi);
  justify-content: center;
}
.age-parent,
.frame-child,
.male-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* font-size: 14px; */
}
.age-parent {
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.male-parent {
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 44px;
  font-size: 16px;
  padding: var(--br-2xs);
  /* padding: 0 var(--gap-5xs); */
  /* justify-content: center; */
  /* align-items: center; */
}
.purpose-of-using {
  align-self: stretch;
  position: relative;
  font-weight: 500;
}
.enter-a-purpose {
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 41px;
  font-size: 16px;
  width: 100%;
  padding: var(--br-2xs);
  border: none; /* Add this line */
  background-color: transparent; /* Add this line */
  font-size: 16px;
  width: 100%;
  height: 100%; /* Add this line */
  padding: 0 var(--padding-smi); /* Adjust padding */
}
.frame,
.frame-parent {
  display: flex;
  flex-direction: column;
}
.frame {
  align-self: stretch;
  border-radius: var(--br-2xs);
  background-color: var(--color-white);
  border: 2px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 44px;
  overflow: hidden;
  flex-shrink: 0;
  padding: 0 var(--padding-smi);
  align-items: flex-start;
  justify-content: center;
}
.frame-parent {
  position: absolute;
  top: 240px;
  left: 177px;
  width: 359px;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.arrow-left-1-icon {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.previous-step {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 102px;
  flex-shrink: 0;
}
.arrow-left-1-parent {
  width: 121px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 3px;
}
.frame-wrapper {
  border: 0;
  padding: 0 23px;
  background-color: var(--color-gray-200);
  flex: 1;
  border-radius: var(--br-2xs);
  height: 40px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.next-step {
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--color-white);
  text-align: center;
}
.next-step-parent {
  width: 88px;
  height: 21px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 4px;
}
.frame-container,
.frame-group,
.next-step-parent {
  display: flex;
  align-items: center;
}
.frame-container {
  border: 0;
  padding: 0 38px;
  background-color: var(--color-gray-200);
  flex: 1;
  border-radius: var(--br-2xs);
  height: 40px;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
}
.frame-group {
  position: absolute;
  top: 690px;
  left: 177px;
  width: 359px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 13px;
}
.personal-information-light {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 740px;
  /* height: 100%; */
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-poppins);
}
